<div class="row">
  <div class="col-12">
    <small class="questions-route">Questions</small>
  </div>
  <div class="col-12 question-title">
    <h3>{{title}}</h3>
  </div>
  <div class="col-12">
    <div (click)="createQuestionDialog()" class="background-btn__add">
      <img alt="Add questions" class="add-24px-2" src="/assets/add-24-px-2.svg">
      add new question...
    </div>
  </div>

  <div class="col">
    <div *ngIf="questions" class="questions-container">
      <div *ngFor="let question of questions" class="col question-card">
        <div (click)="navigateAnswers(question)"  class="question-card__title"
             routerLinkActive="active">{{question.title}}
          <div class="question-card__answers">{{question.answerLength}} Answers</div>
        </div>
        <div class="question-card__btn-group">
          <div class="question-card__vote-box">
            <like-box></like-box>
          </div>
          <button (click)="deleteQuestion(question.objectId)" class="question-card__del-btn">delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center questions-quantity">
  <div class="col-6">
    <div class="questions-counter">No more questions</div>
  </div>
</div>


