a {
  font-size: large;
}

.questionBtn {
  background-color: grey;
  color: white;
}

hr {
  margin: 20px 0px 0px 0px;
}

.container {
  padding: 1rem;
}

.material-icons {
  vertical-align: middle;
  padding-bottom: 3px;
}


