// a {
//   text-decoration: none;
// }

// a:focus {
//   color: grey;
//   text-decoration: underline;
// }

// a {
//   color:black
// }

a {
  font-size: large;
}



.questionBtn {
  background-color: grey;
  color: white;
}

