a {
  font-size: large;
}

.questionBtn {
  background-color: grey;
  color: white;
}

hr {
  margin-top: 20px;
}

.container {
  padding: 1rem;
}

.material-icons {
  vertical-align: middle;
  padding-bottom: 3px;
  color: red;
}

ol {
  list-style-type: none; /* Убираем исходные маркеры */
  counter-increment: my-counter; /* Задаём имя счетчика */
}
li::before {
  content: counter(my-counter) '.'; /* Выводим число с точкой */
}
