<div class="container header">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
      <textarea rows="5" formControlName="message" type="text" class="dialog-message">{{ data.message }}</textarea>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-raised-button type="submit" [disabled]="!form.valid">Confirm</button>
      <button mat-raised-button mat-dialog-close>Close</button>
    </div>
  </form>
</div>
