<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <mat-toolbar class="background" role="heading">
        <div [routerLink]="['/questions/']" class="col-3 arrow-btn ">
          <a><img src="assets/logo_2020-10-13/arrow-back-24-px.svg"></a>
        </div>
        <div class="col-6">
          <img alt="Logo icon" class="logo" src="assets/logo_2020-10-13/logo.png">
        </div>
      </mat-toolbar>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <footer class="fixed-bottom">©Alexei 2020. All rights reserved</footer>
    </div>
  </div>
</div>


