$light-text: #aaaaaa;
$font-family: 'Roboto', sans-serif;

.container {
  max-width: 580px;
  width: 100%;
}

footer {
  height: 14px;
  font-family: $font-family;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $light-text;
  text-align: center;
  margin-bottom: 48px;
}
