.Background {
  width: 580px;
  height: 56px;
  border-radius: 0 0 12px 12px;
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
}

.Logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: flex;
}
