<div class="container">
  <div class="row justify-content-center">
    <div class="col background" role="heading">
      <div class="col">
        <img class="arrow-btn" [routerLink]="['/questions/']" src="assets/logo_2020-10-13/arrow-back-24-px.svg">
      </div>
      <div class="col justify-content-center"><img alt="Logo icon" class="logo" src="assets/logo_2020-10-13/logo.png"></div>
      <div class="col"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col">
      <footer class="fixed-bottom">©Alexei 2020. All rights reserved</footer>
    </div>
  </div>
</div>


