<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <mat-toolbar role="heading" class="background">
        <img src="assets/logo_2020-10-13/logo.png" class="logo" alt="Logo icon">
      </mat-toolbar>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row justify-content-center questions-quantity">
      <div class="col-6">
        <footer>No more questions</footer>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <footer>©Alexei 2020. All rights reserved</footer>
      </div>
    </div>
  </div>
</div>
