$light-text: #aaaaaa;
$font-style: 'Roboto', sans-serif;

.background {
  height: 56px;
  border-radius: 0 0 12px 12px;
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.container-fluid {
  min-height: 100%;
  flex: 1 0 auto;
}

footer {
  height: 14px;
  font-family: $font-style;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $light-text;
  text-align: center;
  margin-bottom: 48px;
}

.questions-counter {
  height: 14px;
  font-family: $font-style;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: $light-text;
  margin-bottom: 463px;
  margin-top: 24px;
}
