/* You can add global styles to this file, and also import other style files */

body {
  width: 100%;
  height: 100%;
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 25px auto;

  footer {
    width: 191px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: end;
    color: #aaaaaa;
    position: relative;
  }
}


