.answerBtn {
  background-color: grey;
  color: white;
}

button {
  margin: 1.5px;
}

a {
  font-size: large;
}

hr {
  margin-top: 20px;
}

.container {
  padding: 1rem;
}

.material-icons {
  vertical-align: middle;
  padding-bottom: 3px;
  margin-left: 5px;
}

#edi {
  color: blue;
}

#del {
  color: red;
}
