<button mat-stroked-button color="basic" class="answerBtn" type="submit" (click)="createAnswerDialog()">New
  Answer?</button>
<div *ngIf="answers?.length">
  <div *ngFor='let answer of answers'>
    <div class="container">
      <h3>
        <li><a [routerLink]="['/questions/']" routerLinkActive="active" mat-flat-button>{{answer.text}}</a>


          <mat-icon style="cursor:pointer" inline="true" class="material-icons" id="edi" (click)="editAnswerDialog(answer)">
            create</mat-icon>
          <mat-icon style="cursor:pointer" inline="true" class="material-icons" id="del" (click)="deleteAnswer(answer.objectId)">
            delete</mat-icon>


          <!-- <button mat-flat-button color="primary" class="edit" (click)="editAnswerDialog(answer)">Edit</button> -->
          <!-- <button mat-flat-button color="warn" class="delete" (click)="deleteAnswer(answer.objectId)">Delete</button> -->
          <hr>
        </li>
      </h3>
    </div>
  </div>
</div>