$font: "Roboto",
sans-serif;
$light-text: #aaaaaa;
$bg-color: #ffffff;

.router-name {
  height: 14px;
  font-family: $font;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #8797ab;
  white-space: nowrap;


  span:before {
    content: "/";
    margin: 0 8px;
  }
}

.answers-route {
  height: 14px;
  font-family: $font;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.question-title {
  height: 32px;
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  white-space: nowrap;

}

.background-btn__add {
  width: 100%;
  border-radius: 12px;
  background-color: #e1e5ea;
  margin: 14px 0 12px 0;
  padding: 10px;
  cursor: pointer;
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #8797ab;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.answer-card {
  background-color: $bg-color;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 12px;


  &__title {
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #000000;
    margin-bottom: 36px;
    word-break: break-word;
  }

  &__answers {
    color: $light-text;
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.25px;
    margin-top: 8px;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit-btn {
    color: #2196f3;
  }

  &__del-btn {
    color: $light-text;
  }
}

.question-card {
  &__edit-btn {
    color: #2196f3;
  }

  &__del-btn {
    color: $light-text;

  }
}

.card-btns {
  background-color: transparent;
  text-transform: uppercase;
  align-self: flex-end;
  text-align: right;
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  border: none;
  outline: none;
  padding: 3.5px 20px;
}

.answers-counter {
  height: 14px;
  font-family: $font;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: $light-text;
  margin-bottom: 463px;
  margin-top: 24px;
}

.vote-section {
  display: flex;
}

.upVote, .downVote {
  display: flex;
  border-radius: 8px;
  align-items: center;
  border: none;
  flex-direction: row;
  margin-right: 20px;
  padding: 6px 20px;
  outline: none;

  span {
    width: 10px;
    height: 16px;
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.25px;
    margin-left: 8px;
  }

  .up {
    color: #4caf50;
  }

  .down {
    color: #f44336;
  }
}

.question-title {
  flex: auto;
  margin: 0;
}

